<section class="products-show">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
  <% end %>

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <dl class="dl-horizontal">
      <h3>User Reviews</h3>
<br>

<h4>Average user rating</h4>
 <h2 class="bold padding-bottom-7"> <%= @product.reviews.average(:rating) %><small>/ 5</small></h2>

<br>
 <% if current_user %>
 <h2>Leave a Review</h2>
  <%= form_for [@product, @review] do |f| %>
  <%= f.text_field :description %>
  <% ratings = [1,2,3,4,5] %>
  <%= f.select  :rating, options_for_select([['1 Star', 1], ['2 Stars', 2], ['3 Stars', 3], ['4 Stars', 4], ['5 Stars', 5]]) %>
  <%= f.submit "Submit" %>
  <% end %>
  <% end %>
  <br>
  <br>



      <% @product.reviews.order(:created_at).reverse.each do |r| %>
      <div class="container">
<div class="row">
<div class="col-sm-12">
</div>
</div>
<div class="row">
<div class="col-sm-1">
</div>
</div>

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong><%= r.user.first_name %>
      <%= r.user.last_name %>
      </strong> <span class="text-muted">commented 5 days ago</span>
     <span class="rating">
      <% if r.rating == 1 %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
      </span>
      <% if r.rating == 2 %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
      </span><% if r.rating == 3 %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
      </span>
      <% if r.rating == 4 %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>

      <% end %>
      </span>
      <% if r.rating == 5 %>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
      </span>
</div>
<div class="panel-body">
<%= r.description %>
<% if current_user == r.user %>
      <%= link_to fa_icon('trash'), [@product, r], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
</div>
</div>

</div>

</div>



        <% end %>

      <% end %>



    </div>


  </article>

</section>


